.container-navbar{
  background-color:EEEEEE;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;

}

.ul-navbar{
    align-content: flex-start;
    display: flex;
    flex-direction: row; /*acomoda todo de manera horizontal*/
    justify-content: center; /*Organia la lisha hacia el centro*/
    text-align: center; /*Organia la lisha hacia el centro*/
}

.li-navbar{
  padding-right: 3rem;
  list-style: none; /*Elimina el punto negrp de la lista*/
  font-size: 1rem;
}
